<footer class="layout-light">
  <div class="container padding-tb-100px">
      <div class="row">

          <div class="col-lg-3 col-md-6">
              <div class="about-us sm-mb-45px">
                  <div class="logo-footer margin-bottom-10px">
                      <a href="/"><img src="/logo.JPG" alt=""></a>
                  </div>
                  <div class="text margin-bottom-10px text-justify">
                    Purpose of establishment of Globactiv is to cater to the existing customer profile of the management which has spanned over 25 years in the logistics industry.
                  </div>
                  <a href="/About-Us" class="nile-bottom sm">Read More</a>
              </div>
          </div>

          <div class="col-lg-3 col-md-6">
              <div class="nile-widget widget_nav_menu sm-mb-45px">
                  <h2 class="title">Quick Links</h2>
                  <ul class="footer-menu">
                      <li><a href="/Terms">Terms & Conditions </a></li>
                      <li><a href="/PrivacyPolicy">Privacy Policy </a></li>
                      <li><a href="/About-Us">About us </a></li>
                      <li><a href="/Contact-Us">Contact-Us</a></li>
                  </ul>
              </div>
          </div>


          <div class="col-lg-3 col-md-6">
              <div class="nile-widget widget_nav_menu sm-mb-45px">
                  <h2 class="title">Our Locations</h2>
                  <ul class="footer-menu">
                      <li><a href="/Locations">Head Office -Colombo</a></li>
                      <li><a href="/Locations">Katunayake</a></li>
                      <li><a href="/Locations">Avissawella</a></li>
                      <li><a href="/Locations">Biyagama</a></li>
                  </ul>
              </div>
          </div>


          <div class="col-lg-3 col-md-6">
              <div class="nile-widget widget_nav_menu sm-mb-45px">
                  <h2 class="title">Sub-Companies</h2>
                  <ul class="footer-menu">
                      <li><a href="/SubCompanies/Globactivlogistics">Globactiv Logistics </a></li>
                      <li><a href="/SubCompanies/GlobactivSolutions">Globactiv Solutions</a></li>
                      <li><a href="/SubCompanies/GlobactivTransport">Globactiv Transport </a></li>
                      <li><a href="/SubCompanies/Globactivcargo">Globactiv Cargo Management </a></li>
                      <li><a href="/SubCompanies/Globactivrealties">Globactiv Realties </a></li>
                  </ul>
              </div>
          </div>

      </div>
  </div>
  <div class="copy-right">
      <div class="container padding-tb-50px">
          <div class="row">
              <div class="col-lg-6">
                  <div class="copy-right-text text-lg-left text-center sm-mb-15px">© 2021 Globactiv  - All rights reserved </div>
                  <span class="copyright">  Designed and Developed By <br> <a href="https://www.nebula.lk" target="_blank" ><img src="/lg.png" alt="" width="50" height="20.833"> </a>
              </div>
              <div class="col-lg-6">
                  <!--  Social -->
                  <ul class="social-media list-inline text-lg-right text-center margin-0px text-dark">
                      <li class="list-inline-item"><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      
                      <li class="list-inline-item"><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                     
                  </ul>
                  <!-- // Social -->
              </div>
          </div>
      </div>
  </div>
</footer>