<header>
  <div class="header-output padding-tb-10px background-white">
      <div class="container header-in">
          <div class="position-relative">
              <div class="row">
                  <div class="col-lg-3 col-md-12">
                      <a id="logo" href="/" class="d-inline-block margin-right-20px"><img src="/logo.JPG"   alt=""></a>
                      <a class="mobile-toggle padding-20px background-second-color border-radius-3" href="#"><i class="fa fa-bars"></i></a>
                  </div>
                  <div class="col-lg-9 col-md-12 d-none d-lg-block position-inherit">
                      <div class="row">
                          <!-- contact info -->
                          <div class="col-lg-4 padding-tb-15px">
                              <div class="contact-info opacity-9">
                                  <div class="icon margin-top-5px"><span class="icon_pin_alt"></span></div>
                                  <div class="text">
                                      <span class="title-in">Location :</span> <br>
                                      <span class="font-weight-500 text-uppercase text-main-color">No 48 IBM Building,level 3,Nawam mawatha, Colombo 2</span>
                                  </div>
                              </div>
                          </div>
                          <!-- // contact info -->


                          <!-- contact info -->
                          <div class="col-lg-4 padding-tb-15px">
                              <div class="contact-info opacity-9">
                                  <div class="icon margin-top-5px"><span class="icon_mail_alt"></span></div>
                                  <div class="text">
                                      <span class="title-in">Email :	</span> <br>
                                      <span class="font-weight-500 text-uppercase text-main-color">info@globactiv.lk</span>
                                  </div>
                              </div>
                          </div>
                          <!-- // contact info -->


                          <!-- contact info -->
                          <div class="col-lg-4 padding-tb-15px">
                              <div class="contact-info opacity-9">
                                  <div class="icon margin-top-5px"><span class="icon_phone"></span></div>
                                  <div class="text">
                                      <span class="title-in">Call Us :</span> <br>
                                      <span class="font-weight-500 text-uppercase text-main-color">+94 763162284</span>
                                  </div>
                              </div>
                          </div>
                          <!-- // contact info -->

                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>


  <div class="background-main-color clearfix">
      <div class="container">
          <div class="position-relative">
              <div class="row">
                  <div class="col-lg-10 position-inherit">
                      <ul id="menu-main" class="nav-menu float-lg-left text-lg-left link-padding-tb-16px white-link dropdown-dark">
                          <li class="menu"><a href="/">Home</a>
                         
                          </li>

                          <li class="menu"><a href="/About-Us">About Us</a>
                         
                          </li>

                          <li class="has" style="position: relative;"><a href="/Locations/">Locations <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                              <ul class="sub-menu">
                              
                                  <li><a href="/Locations">Head Office -Colombo </a></li>
                                  <li><a href="/Locations">Katunayake</a></li>
                                  <li><a href="/Locations">Avissawella</a></li>
                                  <li><a href="/Locations">Biyagama</a></li>
                              </ul>
                          </li>

                          <li class="menu"><a href="/Vessel-Schedule">Vessel Schedule</a>
                         
                          </li>

                          <li class="has" style="position: relative;"><a href="/SubCompanies">Sub-Companies <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="sub-menu">
                                <li><a href="/SubCompanies">Sub Companies</a></li>
                                <li><a href="/SubCompanies/Globactivlogistics">Globactiv Logistics</a></li>
                                <li><a href="/SubCompanies/GlobactivSolutions">Globactiv Solutions</a></li>
                                <li><a href="/SubCompanies/GlobactivTransport">Globactiv Transport</a></li>
                                <li><a href="/SubCompanies/Globactivcargo">Globactiv Cargo Management</a></li>
                                <li><a href="/SubCompanies/Globactivrealties">Globactiv Realties</a></li>
                            </ul>
                        </li>
                       
                          <li class="menu"><a href="/Careers">Careers</a>
                         
                          </li>
                          <li class="menu"><a href="/Contact-Us">Contact Us</a>
                         
                          </li>

                      </ul>

                  </div>


              </div>
          </div>
      </div>
  </div>


</header>
