<!DOCTYPE html>
<html lang="en-US">



<head>
    <title>Globactiv Logistics | Connections Made Simple</title>
    <link rel="shortcut icon" type="image/jpg" href="/fv.png"/>
    <meta name="author" content="Nile-Theme">
    <meta name="robots" content="index follow">
    <meta name="googlebot" content="index follow">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="cargo, clean, contractor, corporate, freight, industry, localization, logistics, modern, shipment, transport, transportation, truck, trucking">
    <meta name="description" content="Transportation and Logistics">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link href="../../../fonts.googleapis.com/csse63f.css?family=Open+Sans:400,600,800%7CPoppins:300i,300,400,500,600,700,400i,500%7CDancing+Script:700%7CDancing+Script:700%7CGreat+Vibes:400%7CPoppins:400%7CDosis:800%7CRaleway:400,700,800&amp;subset=latin-ext" rel="stylesheet">
    <!-- animate -->
    <link rel="stylesheet" href="/css/animate.css" />
    <!-- owl Carousel assets -->
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- hover anmation -->
    <link rel="stylesheet" href="/css/hover-min.css">
    <!-- flag icon -->
    <link rel="stylesheet" href="/css/flag-icon.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- elegant icon -->
    <link rel="stylesheet" href="/css/elegant_icon.css">

    <!-- jquery library  -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <!-- fontawesome  -->
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">

</head>

<body>
    <!--  Header  -->
    <%-include ('./partials/header')%>
    <!-- // Header  -->

    <!-- Search  -->
    <div id="search">
        <button type="button" class="close">×</button>
        <form class="clearfix d-block">
            <input type="search" value="" placeholder="Search for . . . ." />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <!-- // Search  -->

    <!-- Get A Quote  -->
    <div class="modal contact-modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content margin-top-150px background-main-color">
                <div class="row no-gutters">
                    <div class="col-lg-5">
                        <img src="/img/contact-img.jpg" alt="">
                    </div>
                    <div class="col-lg-7">
                        <div class="padding-30px">
                            <h3 class="padding-bottom-15px">Get A Free Quote</h3>
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Full Name</label>
                                        <input type="text" class="form-control" id="inputName4" placeholder="Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Email</label>
                                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                                </div>
                                <div class="form-group">
                                    <label>Message</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <a href="#" class="btn-sm btn-lg btn-block background-dark text-white text-center  text-uppercase rounded-0 padding-15px">SEND MESSAGE</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // Get A Quote  -->


    <div class="page-title">
        <div class="container">
            <div class="padding-tb-120px">
                <h1>About Usss</h1>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">About Us</li>
                </ol>
            </div>
        </div>
    </div>


    <!--============= About Us =============-->
    <div class="nile-about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 sm-mb-45px">

                    <div class="section-title-right text-main-color clearfix">
                     
                        <div class="icon"><img src="/icons/title-icon-1.png" alt=""></div>
                        <h2 class="title-text">Who We Are ?</h2>
                    </div>
                    <div class="about-text margin-tb-25px text-justify">
                        <h4>Globactiv, established in 2016 is a Sri Lankan corporation with diversified businesses. Logistics, leisure, agriculture, and real estate are among the group's specialties.
                            Purpose of establishment of Globactiv is to cater to the existing customer profile of the management which has spanned over 25 years in the logistics industry.<br><br>
                            Since its inception, Globactiv has expanded its scope of business to Non-asset-based business and asset based business which has led to having its own transportation fleet and further diversifying to leisure, agriculture and real estate.
                            Globactiv companies are known for accepting challenges with a global vision and strategic growth plan that puts the company at the forefront of driving innovation, growth, and change across every aspect of business – a successful formula that has earned Globactiv a position as a market leader across all verticals.</h4>
                    </div>
                    

                </div>
                <div class="col-lg-6">
                    <br><br>
                    <img src="/pics/2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--============= //About Us =============-->





    <div class="call-action ba-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 padding-tb-15px">
                    <h2>Connections Made Simple</h2>
                    <div class="text">The information about package is as important as the delivery of the package itself.</div>
                </div>
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 sm-mb-45px">
                            
							</a>
                        </div>
                        <div class="col-lg-4 col-md-4 sm-mb-45px">
                            
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <a href="#" class="action-bottom layout-1">
								<img src="/icons/small-icon-3.png" alt=""> 
								<h4>Contact Us</h4>
							</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="nile-about-section">
        <div class="container">
            <!-- Title -->
            <div class="section-title margin-bottom-40px">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="icon text-main-color"><i class="fa fa-truck"></i></div>
                        <div class="h2">Our Service</div>
                        
                    </div>
                </div>
            </div>
            <!-- // End Title -->

            <div class="row">

                <div class="col-lg-4">
                    <div class="service-icon-box">
                        <div class="icon"><img src="/icons/service-dark-3.png" alt=""></div>
                        <a href="#" class="title h2">Sea Freight</a>
                       
                    </div>
                    <div class="service-icon-box">
                        <div class="icon"><img src="/icons/service-dark-2.png" alt=""></div>
                        <a href="#" class="title h2">Air Freight</a>
                        
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center sm-mb-45px">
                        <img src="/img/about-2.jpg" alt="" class="border-radius-500">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-icon-box">
                        <div class="icon"><img src="/icons/service-dark-1.png" alt=""></div>
                        <a href="#" class="title h2">Custom House Brokerage</a>
                        
                    </div>
                    <div class="service-icon-box">
                        <div class="icon"><img src="/icons/service-dark-4.png" alt=""></div>
                        <a href="#" class="title h2">Warehousing</a>
                        
                    </div>
                </div>



            </div>


            <div class="text-center margin-top-35px">
                <a href="#" class="nile-bottom md">Show all <i class="fa fa-arrow-right"></i> </a>
            </div>

        </div>
    </div>
    
    <div class="section padding-tb-100px section-ba-2">
		<div class="container">

			<!-- Title -->
			<div class="section-title margin-bottom-40px">
				<div class="row justify-content-center">
					<div class="col-lg-7">
						
						<div class="h2"> Our Corporate Team</div>
					</div>
				</div>
			</div>
			<!-- // End Title -->



			<div class="row">

				<div class="col-lg-3 col-md-6">
					<div class="team layout-3">
						<div class="img-team">
							<img src="/CorporateTeam/RandallKellyManagingDirector.jpg" alt="">
						</div>
						<h3>Randall Kelly</h3>
                        <div class="jop">Managing Director</div>
						
					</div>
				</div>


				<div class="col-lg-3 col-md-6">
					<div class="team layout-3">
						<div class="img-team">
							<img src="/CorporateTeam/MihinduKarunarathnaDirectorFinance.jpg" alt="">
						</div>
						<h3>Mihindu Karunarathna</h3>
                        <div class="jop">Director - Finance</div>
					</div>
				</div>


				<div class="col-lg-3 col-md-6">
					<div class="team layout-3">
						<div class="img-team">
							<img src="/CorporateTeam/SankaThabrewDeputyGeneralManager.jpg" alt="">
						</div>
                        <h3>Sanka Thabrew</h3>
                        <div class="jop">Deputy General manager</div>
						
					</div>
				</div>


				<div class="col-lg-3 col-md-6">
					<div class="team layout-3">
						<div class="img-team">
							<img src="/CorporateTeam/DanushkaFernandoDeputyGeneralManager.jpg" alt="">
						</div>
						<h3>Danushaka Fernando</h3>
                        <div class="jop">Deputy General manager</div>
						
					</div>
				</div>

			</div>


		</div>
	</div>

    <div class="section padding-tb-100px section-ba-2">
		<div class="container">

			<!-- Title -->
			<div class="section-title margin-bottom-40px">
				<div class="row justify-content-center">
					<div class="col-lg-7">
						
						<div class="h2"> Our Management Team</div>
					</div>
				</div>
			</div>
			<!-- // End Title -->



			<div class="row">

				<div class="col-lg-4 col-md-6 ">
					<div class="team layout-3">
						<div class="img-team">
							<img src="/ManagementTeam/MilankaGunasekaraManagerCHB&Transport.jpg" alt="">
						</div>
						<h3>Milanka Gunasekara</h3>
                        <div class="jop">Manager – CHB & Transport</div>
						
					</div>
				</div>


				<div class="col-lg-4 col-md-6">
					<div class="team layout-3">
						<div class="img-team">
							<img src="/ManagementTeam/DanielCharlesManagerCustomerServiceImports.jpg" alt="">
						</div>
                        <h3>Daniel Charles</h3>
                        <div class="jop">Manager – Customer Service - Imports</div>
						
					</div>
				</div>

                <div class="col-lg-4 col-md-6">
					<div class="team layout-3">
						<div class="img-team">
							<img src="/ManagementTeam/HelenThilakarathneManageressBusinessDevelopment.jpg" alt="">
						</div>
                        <h3>Helen Thilakarathne</h3>
                        <div class="jop">Manageress – Business Development</div>
						
					</div>
				</div>


				
			

			</div>


		</div>
	</div>


    
    <%-include ('./partials/footer')%>

    
    <%-include ('./partials/scripts')%>

</body>



</html>
