<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Globactiv Logistics | Connections Made Simple</title>
    <link rel="shortcut icon" type="image/jpg" href="/fv.png"/>
    <meta name="author" content="Nile-Theme">
    <meta name="robots" content="index follow">
    <meta name="googlebot" content="index follow">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="cargo, clean, contractor, corporate, freight, industry, localization, logistics, modern, shipment, transport, transportation, truck, trucking">
    <meta name="description" content="Transportation and Logistics">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link href="../../../fonts.googleapis.com/csse63f.css?family=Open+Sans:400,600,800%7CPoppins:300i,300,400,500,600,700,400i,500%7CDancing+Script:700%7CDancing+Script:700%7CGreat+Vibes:400%7CPoppins:400%7CDosis:800%7CRaleway:400,700,800&amp;subset=latin-ext" rel="stylesheet">
    <!-- animate -->
    <link rel="stylesheet" href="/css/animate.css" />
    <!-- owl Carousel assets -->
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- hover anmation -->
    <link rel="stylesheet" href="/css/hover-min.css">
    <!-- flag icon -->
    <link rel="stylesheet" href="/css/flag-icon.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- elegant icon -->
    <link rel="stylesheet" href="/css/elegant_icon.css">

    <!-- jquery library  -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <!-- fontawesome  -->
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">

</head>

<body>
    <!--  Header  -->
    <%-include ('./partials/header')%>

    <!-- // Header  -->

    <!-- Search  -->
    <div id="search">
        <button type="button" class="close">×</button>
        <form class="clearfix d-block">
            <input type="search" value="" placeholder="Search for . . . ." />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <!-- // Search  -->

    


    <div class="page-title">
        <div class="container">
            <div class="padding-tb-120px">
                <h1>Contact Us</h1>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Contact Us</li>
                </ol>
            </div>
        </div>
    </div>


    <div class="padding-tb-100px">

        <div class="container">
            <div class="row">

                <div class="col-lg-6 sm-mb-45px">
                    <p> Please complete the quick form below. Your message will be confidentially sent to the globactiv team.<br> If forms aren't your thing, send us an email, or just call us.</p>
                    <h5>Phone :</h5>
                    <span class="d-block"><i class="fa fa-phone text-main-color margin-right-10px" aria-hidden="true"></i> 94 76 3162284
                    </span>
                    <span class="d-block sm-mb-30px"><i class="fa fa-mobile text-main-color margin-right-10px" aria-hidden="true"></i> +94 11 4848145
                    </span>
                    <h5 class="margin-top-20px">Address :</h5>
                    <span class="d-block sm-mb-30px"><i class="fa fa-map text-main-color margin-right-10px" aria-hidden="true"></i> Head office <br>No 48 IBM Building,level 3,Nawam mawatha, Colombo 2</span>
                    <h5 class="margin-top-20px">Email :</h5>
                    <span class="d-block sm-mb-30px"><i class="fa fa-envelope-open text-main-color margin-right-10px" aria-hidden="true"></i> info@globactiv.lk </span>
                </div>

                <div class="col-lg-6">
                    <div class="contact-modal">
                        <div class="background-main-color">
                            <div class="padding-30px">
                                <h3 class="padding-bottom-15px">Get A Free Quote</h3>
                                <form method="post" action="/contactForm">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Full Name</label>
                                            <input type="text" class="form-control" id="name" placeholder="Name">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Email</label>
                                            <input type="email" class="form-control" id="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Message</label>
                                        <textarea class="form-control" id="message" rows="3"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>Message</label>
                                        <textarea class="form-control" id="message" rows="3"></textarea>
                                    </div>

                                    
                                    <a href="/contactForm" class="btn-sm btn-lg btn-block background-dark text-white text-center  text-uppercase rounded-0 padding-15px">SEND MESSAGE</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>


    <div class="map-layout">
        <div class="map-embed">
            <iframe src="https://maps.google.com/maps?q=forbes%20and%20walker%20buildiing&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="390" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8"></div>
                <div class="col-lg-4">
                    <div class="padding-tb-50px padding-lr-30px background-main-color pull-top-309px">
                        <div class="contact-info-map">
                            <div class="margin-bottom-30px">
                                <h2 class="title">Location</h2>
                                <div class="contact-info opacity-9">
                                    <div class="icon margin-top-5px"><span class="icon_pin_alt"></span></div>
                                    <div class="text">
                                        <span class="title-in">Location :</span> <br>
                                        <span class="font-weight-500 text-uppercase">Globactiv Logistics (Pvt)<br> Ltd.
                                            4th Floor, No, 46/38, 
                                            Forbes & Walker Building,
                                            Nawam Mawatha, Sri Lanka.</span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="call_center margin-top-30px">
                                <h2 class="title">Call Center</h2>
                                <div class="contact-info opacity-9">
                                    <div class="icon  margin-top-5px"><span class="icon_phone"></span></div>
                                    <div class="text">
                                        <span class="title-in">Call Us :</span><br>
                                        <span class="font-weight-500 text-uppercase">+94 11 4848145</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('./partials/footer') %>
  
    <script src="/js/YouTubePopUp.jquery.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/imagesloaded.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>



</html>
