<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head><meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    Globactiv Logistics | Connections Made Simple
  </title>
  <meta name="description"
    content="We are searching for a Digital Marketing Associate to join our marketing team. You will be responsible for driving traffic on social media to promote our products and services and overseeing our email marketing campaigns.">
    <meta name="keywords" content="dma-lk.com,Global Digital marketing agency,website design sri lanka,website design,social media marketing,sri lanka,Branding & Re-branding,
  SEO and SEM Services,Social Media Marketing,Instagram Marketing">
    <meta name="author" content="GDMA">
  <%- include('./layout') %>
</head>

<body data-theme-mode-panel-active data-theme="light">
  <div class="site-wrapper overflow-hidden ">


    <%-include ('./partials/header')%>
      <!-- navbar- -->
      <!--/ .Header Area -->
      <div class="terms-area bg-default-7">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-11">
              <div class="section-title text-center">
                <h2 class="section-title__heading">Terms &amp;
                  Conditions</h2>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-xxl-8 col-xl-9 col-lg-10">
              <div class="terms-content">
                <div class="terms-content__box">
                  <h5 class="terms-content__heading">The Contract</h5>
                  <ul class="terms-list">
                    <li>An independent contractor relationship will be created between the clients and DMA, and that no partnership or joint venture is intended or implied by either party.</li>
                    <li>A date of commencement of the services will be agreed upon by both parties and charges will be applicable according to that date.</li>
                    <li>A monthly report of performance services will be given to the clients.</li>
                    <li>Either party may not cancel or fully transfer the service responsibilities to another service vendor before a prior notice of at least 10 business days.</li>
                    <li>
                      DMA reserves the right to subcontract a third party service provider for some of the service tasks.
                    </li>
                    <li>A person who is not a party to the Contract shall not have any rights under or in connection with it.</li>
                  </ul>
                </div>
                <div class="terms-content__box">
                  <h5 class="terms-content__heading">Payment</h5>
                  <ul class="terms-list">
                    <li>If clients avail any monthly service package of DMA then they are obliged to pay a full chargeable amount prior to the commencement of the work.</li>
                    <li>If DMA and the client agree on a fixed quote regarding any services then they are liable to pay 50% of the billable amount in advance, prior to the commencement of the work. The remaining 50% of the payment will have to be made within 7 days of the start date of the services.</li>
                    <li>DMA shall invoice the clients monthly, in advance.</li>
                    <li>Also, if the clients do not pay a monthly invoice when it is due, DMA shall terminate the services immediately. In this case, we will not be liable to issue a 10 day prior notice.</li>
                  </ul>
                </div>
                <div class="terms-content__box">
                  <h5 class="terms-content__heading">Liability</h5>
                  <ul class="terms-list">
                    <li>DMA will not be liable for any indirect or consequential losses due to delay in obligated service deliverables, where the delay is because of natural or ungovernable causes.</li>
                    <li>The clients will defend, cover and hold DMA harmless from and against any and all claims, losses, liabilities and expenses related to the services provided by DMA to the clients under this agreement, including without limitation claims made by third parties related to any false advertising claims, liability claims for products or services sold by the client, claims for patent, copyright or trademark infringement, claims due to disruption or malfunction of services provided, or for any content submitted by you for publication by DMA.</li>
                    <li>Due to the nature of digital media, any content/information given by the clients to DMA for publication will be accessible by the public as soon as the publication is carried out. DMA will not be responsible for screening the material and any damages or losses of profit, goodwill or any business asset due to the nature of content being publicized.</li>
                  </ul>
                </div>
                <div class="terms-content__box">
                  <h5 class="terms-content__heading">Waiver</h5>
                  <ul class="terms-list">
                    <li>If at any time during the term of a service contract, we fail to insist upon the strict performance of any of your obligations under the service contract or any of these terms and conditions, then this will not automatically free of you from any of the obligations mentioned in the terms and conditions and will not constitute a waiver.</li>
                    <li>You are not required to attribute or link to UXTheme in any of projects.</li>
                    <li>Any waiver of term and conditioned will be valid officially only if it is communicated to you in writing.</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <form action="/ssss" method="get">
        <button type="submit">adae</button>
      </form>

      <%- include('./partials/footer') %>
  </div>
  <!-- Plugin's Scripts -->

  <%- include('./scripts') %>
</body>



</html>