<!DOCTYPE html>
<html lang="en-US">



<head>
	<title>Globactiv Logistics | Connections Made Simple</title>
    <link rel="shortcut icon" type="image/jpg" href="/fv.png"/>
	<meta name="author" content="Nile-Theme">
	<meta name="robots" content="index follow">
	<meta name="googlebot" content="index follow">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="keywords" content="cargo, clean, contractor, corporate, freight, industry, localization, logistics, modern, shipment, transport, transportation, truck, trucking">
	<meta name="description" content="Transportation and Logistics ">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- google fonts -->
	<link href="../../../fonts.googleapis.com/csse63f.css?family=Open+Sans:400,600,800%7CPoppins:300i,300,400,500,600,700,400i,500%7CDancing+Script:700%7CDancing+Script:700%7CGreat+Vibes:400%7CPoppins:400%7CDosis:800%7CRaleway:400,700,800&amp;subset=latin-ext" rel="stylesheet">
	<!-- animate -->
	<link rel="stylesheet" href="/css/animate.css" />
	<!-- owl Carousel assets -->
	<link href="/css/owl.carousel.css" rel="stylesheet">
	<link href="/css/owl.theme.css" rel="stylesheet">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- hover anmation -->
	<link rel="stylesheet" href="/css/hover-min.css">
	<!-- flag icon -->
	<link rel="stylesheet" href="/css/flag-icon.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- elegant icon -->
	<link rel="stylesheet" href="/css/elegant_icon.css">

	<!-- jquery library  -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<!-- fontawesome  -->
	<link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">

</head>

<body>
	<!--  Header  -->
    <%-include ('../partials/header')%>
	<!-- // Header  -->

	<!-- Search  -->
	<div id="search">
		<button type="button" class="close">×</button>
		<form class="clearfix d-block">
			<input type="search" value="" placeholder="Search for . . . ." />
			<button type="submit" class="btn btn-primary">Search</button>
		</form>
	</div>
	<!-- // Search  -->

	
	<!-- // Get A Quote  -->


	<div class="page-title">
		<div class="container">
			<div class="padding-tb-120px">
				<h1>Globactiv Transport</h1>
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Globactiv Transport</li>
				</ol>
			</div>
		</div>
	</div>


	<div class="padding-tb-100px">
		<div class="container">
			<div class="row">
				<h3>About Us</h3>
				<p>Globactiv transport was established in 2017 and started with a fleet of 3 trucks now owns a total fleet of full body trucks and prime movers of 20, in addition to the contracted transport providers which we have outsourced in order to our customer needs. All our own transport and outsourced trucks are monitored under GPS in order to for tracking purposes.

				</p>

				<div class="col-lg-9">
					<div class="service-slider-img margin-bottom-30px">
						<ul class="slider-1">
							<li><img src="/pics/4.jpg" alt=""></li>
							<li><img src="/pics/1.jpg" alt=""></li>
							<li><img src="/pics/2.jpg" alt=""></li>
						</ul>
					</div>
				


				</div>
						
						
						
						

					
						
					

				<div class="col-lg-3">

					<div class="background-main-color margin-bottom-40px">
						<div class="services-list">
							<ul>
								<li ><a href="/SubCompanies/Globactivlogistics">Globactiv Logistics</a></li>
								<li ><a href="/SubCompanies/GlobactivSolutions">Globactiv Solutions</a></li>
								
								<li><a href="/SubCompanies/Globactivrealties">Globactiv Realties </a></li>
								<li class="active"><a href="/SubCompanies/GlobactivTransport">Globactiv Transport</a></li>
								<li ><a href="/SubCompanies/Globactivcargo">Globactiv Cargo Management</a></li>
							</ul>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>


	
    <%-include ('../partials/footer')%>
	<script src="/js/YouTubePopUp.jquery.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/imagesloaded.min.js"></script>
	<script src="/js/custom.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>



</html>

