<!DOCTYPE html>
<html lang="en-US">



<head>
	<title>Globactiv Logistics | Connections Made Simple</title>
    <link rel="shortcut icon" type="image/jpg" href="/fv.png"/>
	<meta name="author" content="Nile-Theme">
	<meta name="robots" content="index follow">
	<meta name="googlebot" content="index follow">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="keywords" content="cargo, clean, contractor, corporate, freight, industry, localization, logistics, modern, shipment, transport, transportation, truck, trucking">
	<meta name="description" content="Transportation and Logistics ">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- google fonts -->
	<link href="../../../fonts.googleapis.com/csse63f.css?family=Open+Sans:400,600,800%7CPoppins:300i,300,400,500,600,700,400i,500%7CDancing+Script:700%7CDancing+Script:700%7CGreat+Vibes:400%7CPoppins:400%7CDosis:800%7CRaleway:400,700,800&amp;subset=latin-ext" rel="stylesheet">
	<!-- animate -->
	<link rel="stylesheet" href="/css/animate.css" />
	<!-- owl Carousel assets -->
	<link href="/css/owl.carousel.css" rel="stylesheet">
	<link href="/css/owl.theme.css" rel="stylesheet">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- hover anmation -->
	<link rel="stylesheet" href="/css/hover-min.css">
	<!-- flag icon -->
	<link rel="stylesheet" href="/css/flag-icon.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- elegant icon -->
	<link rel="stylesheet" href="/css/elegant_icon.css">

	<!-- jquery library  -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<!-- fontawesome  -->
	<link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">

</head>

<body>
	<!--  Header  -->
    <%-include ('../partials/header')%>
	<!-- // Header  -->

	<!-- Search  -->
	<div id="search">
		<button type="button" class="close">×</button>
		<form class="clearfix d-block">
			<input type="search" value="" placeholder="Search for . . . ." />
			<button type="submit" class="btn btn-primary">Search</button>
		</form>
	</div>
	<!-- // Search  -->

	


	<div class="page-title">
		<div class="container">
			<div class="padding-tb-120px">
				<h1>Globactiv Logistics</h1>
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Globactiv Logistics</li>
				</ol>
			</div>
		</div>
	</div>


	<div class="padding-tb-100px">
		<div class="container">
			<div class="row">

				<div class="col-lg-9">
					<h3>About Us</h3>
					<p>Globactiv Logistics was founded in 2016 by a group of seasoned industrial executives with a combined 20 years of expertise.
						<br><br>The company's goals include shipping agency work, freight forwarding, customs house brokering, sea and air freight, transport and delivery, and door-to-door services, with LCL import consolidation being our core business.</p>

					<div class="service-slider-img margin-bottom-30px">
						<ul class="slider-1">
							<li><img src="/pics/5.jpg" alt=""></li>
							<li><img src="/pics/2.jpg" alt=""></li>
							<li><img src="/pics/6.jpg" alt=""></li>
						</ul>
					</div>
					


<h3>Products / Services</h3>

					<div id="accordion" class="nile-accordion margin-top-30px sm-mb-45px">
						<div class="card">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
									<button class="btn btn-block btn-link active" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-ship"></i> Sea Freight-Sea Import</button>
								</h5>
							</div>

							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									<ul>
										<li>LCL services
											A truly LCL consolidator who has its own consolidation from greater china, Hong kong, Taiwan,Bangkok,Thailand and India(Nhava Sheva,Mundra,Chennai) and Europe.</li>
									<li> FCL servies
										Teamed up with one of top 10 FCL forwarders in the world, we are capable to offer guaranteed space and competitive freight rates our major carriers.
										Maersk (Tier 1)
										MSC (Tier 1)
										ONE (Tier 1)
										COSCO (Tier 1)
										CMA/APL (Tier 1)
										Hapag(NAC)</li>
										</ul>

								  
    
</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo">
								<h5 class="mb-0">
									<button class="btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-ship"></i> Sea freight-Sea export</button>
								</h5>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="card-body">
									One of the leading FCL forwaders in srilanka, providing end to end services to our clients with the best rates and sevice in the market. We are specialized in delivering cargo from doorstep to another mainlt catering to the USA,EU,MED and LAWC sector.
We also offer product-based pricing to our clients such as Coir, Rubber, Industrial Tyres, Beverages and wearing apparels and Tea.  <br>
Our key carriers are MSC,YML, CMA,MSK along with selected NVOCC’s to the Indian subcontinent. </div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingThree">
								<h5 class="mb-0">
									<button class="btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="fa fa-plane"></i> Air freight-Air import</button>
								</h5>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="card-body">
									One of the leading air import forwarders in Srilanka with agreements with out global network partners, We do posses fixed allocations from China, Hong kong, Taiwan, Italy,Uk and USA.
									<br><br>
									Co carriers: CX,SQ,QR,UL and EY. </div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="heading4">
								<h5 class="mb-0">
									<button class="btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseThree"><i class="fa fa-plane"></i> Air freight-Air export</button>
								</h5>
							</div>
							<div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
								<div class="card-body">
									Our team and management being more than 25 years in the Air freight industry posses a great recognization and repution in the industry.<br><br> Being a key partner to our networks in USA and Europe we offer competitive pricing and service to our global partners. Our verticals are wearing apparels. Tyres and perishables.
Co Carriers: EK,CX,SQ,BA,QR and LH</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="heading5">
								<h5 class="mb-0">
									<button class="btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapseThree"><i class="fa fa-plane"></i> Custom House Brokerage </button>
								</h5>
							</div>
							<div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
								<div class="card-body">
									Cateriring to various verticals we provide E2E solutions to our clientele. Loacted in Colombo,Biyagama,Awissawella,Katunayaka and Sapugaskanda, We cover the industria zones to fulfill the 3PL commitments to out customers.We specialize in General,BOI and freeport business. </div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="heading6">
								<h5 class="mb-0">
									<button class="btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapseThree"><i class="fa fa-plane"></i> Warehousing </button>
								</h5>
							</div>
							<div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
								<div class="card-body">
									A 100,000 SQ facility where the following services are being offered. </div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="heading7">
								<h5 class="mb-0">
									<button class="btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7"><i class="fa freight-Sea"></i> 3PL </button>
								</h5>
							</div>
							<div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
								<div class="card-body">
									We offer our customers a complete 3PL service as below.
								<ul>
									<li>Warehousing</li>
									<li>Transportation</li>
										<li>Cargo Packing</li>
										
										<li>Labour supply</li>
										<li>Surveyor Reports</li>
										<li>Cargo Lashing</li>
								</ul>
								
			</div>

							</div>
						</div>

					</div>



				</div>

				<div class="col-lg-3">

					<div class="background-main-color margin-bottom-40px">
						<div class="services-list">
							<ul>
								<li class="active"><a href="/SubCompanies/Globactivlogistics">Globactiv Logistics</a></li>
								<li><a href="/SubCompanies/GlobactivSolutions">Globactiv Solutions</a></li>
								
								<li ><a href="/SubCompanies/Globactivrealties">Globactiv Realties </a></li>
								<li><a href="/SubCompanies/GlobactivTransport">Globactiv Transport</a></li>
								<li ><a href="/SubCompanies/Globactivcargo">Globactiv Cargo Management</a></li>
							</ul>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>


	<div class="call-action ba-1">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 padding-tb-15px">
					<h2>Unbeatable Trucking and Transport Services</h2>
					<div class="text">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
				</div>
				<div class="col-lg-5">
					<div class="row">
						<div class="col-lg-4 col-md-4 sm-mb-45px">
							<a href="#" class="action-bottom layout-1">
								<img src="/icons/small-icon-1.png" alt=""> 
								<h4>Tell Friend</h4>
							</a>
						</div>
						<div class="col-lg-4 col-md-4 sm-mb-45px">
							<a href="#" class="action-bottom layout-1">
								<img src="/icons/small-icon-2.png" alt=""> 
								<h4>Read More</h4>
							</a>
						</div>
						<div class="col-lg-4 col-md-4">
							<a href="#" class="action-bottom layout-1">
								<img src="/icons/small-icon-3.png" alt=""> 
								<h4>Contact Us</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <%-include ('../partials/footer')%>
	<script src="/js/YouTubePopUp.jquery.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/imagesloaded.min.js"></script>
	<script src="/js/custom.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>



</html>
